<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Iconos sacados de https://www.flaticon.es/ -->
</head>
<body>
    <button class="salir" (click)="logout()"><span><img src="assets/General/logout.png"></span>logout</button>
    
    <div>
        <button class="conductor" (click)=goConductor()>
            <span><img src="assets/menu-coordinador/conductor.png"></span>  
            Conductor
        </button>

        <button class="autobus" (click)=goBus()>
            <span><img src="assets/menu-coordinador/autobus.png"></span>
            Autobus
        </button>

    </div>
    
</body>
</html>